flow.json
[{"id":"9d931426.bb1f98","type":"tab","label":"Rachio Run Zones","disabled":false,"info":""},{"id":"3d03ef0d.036a4","type":"secret","z":"9d931426.bb1f98","name":"Bearer Token","x":950,"y":40,"wires":[["af185ff3.e58fc"]]},{"id":"af185ff3.e58fc","type":"function","z":"9d931426.bb1f98","name":"Create Bearer Token","func":"msg.headers = {\n    Authorization: \"Bearer \"+ msg.secret\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":40,"wires":[["62636235.2a91dc"]]},{"id":"a72d735f.78ec4","type":"www-request","z":"9d931426.bb1f98","name":"Get Person Info","method":"GET","ret":"obj","url":"","follow-redirects":false,"persistent-http":false,"tls":"","x":1580,"y":100,"wires":[["6265a118.12e74"]]},{"id":"9a512483.abcec8","type":"secret","z":"9d931426.bb1f98","name":"Person ID","x":940,"y":100,"wires":[["b4b186cb.1fd298"]]},{"id":"b4b186cb.1fd298","type":"change","z":"9d931426.bb1f98","name":"Create Person ID","rules":[{"t":"set","p":"personid","pt":"msg","to":"secret","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":100,"wires":[["1c7a78b0.c673b7"]]},{"id":"1c7a78b0.c673b7","type":"template","z":"9d931426.bb1f98","name":"Set API Url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.rach.io/1/public/person/{{personid}}","output":"str","x":1390,"y":100,"wires":[["a72d735f.78ec4"]]},{"id":"6265a118.12e74","type":"change","z":"9d931426.bb1f98","name":"Get enabled zones from Rachio","rules":[{"t":"set","p":"zones","pt":"msg","to":"payload.devices.zones[enabled=true].{\"zoneNumber\": zoneNumber, \"id\": id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":200,"wires":[["fb48b425.b756e8"]]},{"id":"fb48b425.b756e8","type":"change","z":"9d931426.bb1f98","name":"Retrieve zone submitted","rules":[{"t":"set","p":"zone","pt":"msg","to":"(\t    $zone := $substring(topic,-1) ~> $number;\t    *[zoneNumber=$zone].id\t)\t\t","tot":"jsonata"},{"t":"set","p":"timer","pt":"msg","to":"(\t    $duration := $substring(topic,-1) ~> $number;\t    $duration := \"input_number.sprinkler_qrruntime_zone\" & $duration;\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":200,"wires":[["3a714733.fe92b8"]]},{"id":"595cf50f.4da1ac","type":"www-request","z":"9d931426.bb1f98","name":"Call Rachio Zone Start API","method":"PUT","ret":"txt","url":"","follow-redirects":false,"persistent-http":false,"tls":"","x":1000,"y":260,"wires":[["2425213c.c98fbe"]]},{"id":"6335ad9f.a893d4","type":"change","z":"9d931426.bb1f98","name":"Set zone info","rules":[{"t":"set","p":"zonejson","pt":"msg","to":"{\t   \"id\": zone,\t   \"duration\": duration\t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":200,"wires":[["f9c709fc.3c9028"]]},{"id":"f9c709fc.3c9028","type":"function","z":"9d931426.bb1f98","name":"Set values for Rachio API","func":"msg.payload = msg.zonejson;\nmsg.headers = {\n    \"Authorization\": \"Bearer \"+ msg.bearer,\n    \"Content-Type\": \"application/json\"\n};\nmsg.url = 'https://api.rach.io/1/public/zone/start';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":200,"wires":[["b0cd81f4.50162"]]},{"id":"b0cd81f4.50162","type":"change","z":"9d931426.bb1f98","name":"Remove old msg","rules":[{"t":"delete","p":"zonejson","pt":"msg"},{"t":"delete","p":"zones","pt":"msg"},{"t":"delete","p":"personid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"bearer","pt":"msg"},{"t":"delete","p":"zone","pt":"msg"},{"t":"delete","p":"secret","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":200,"wires":[["595cf50f.4da1ac"]]},{"id":"62636235.2a91dc","type":"change","z":"9d931426.bb1f98","name":"Create Person ID","rules":[{"t":"set","p":"bearer","pt":"msg","to":"secret","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":40,"wires":[["9a512483.abcec8"]]},{"id":"3a714733.fe92b8","type":"function","z":"9d931426.bb1f98","name":"Round Duration","func":"const globalHomeAssistant = global.get('homeassistant');\nconst $timer = msg.timer;\nconst state = globalHomeAssistant.homeAssistant.states[$timer].state;\nconst removedDecimal = Math.round(state);\nmsg.duration = removedDecimal * 60 - 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":200,"wires":[["6335ad9f.a893d4"]]},{"id":"2425213c.c98fbe","type":"switch","z":"9d931426.bb1f98","name":"","property":"statusCode","propertyType":"jsonata","rules":[{"t":"eq","v":"204","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":260,"wires":[["ca09f9c8.def758"],["8f93f318.1ea61","145dd311.b0399d"]]},{"id":"476800e3.e68ca","type":"api-render-template","z":"9d931426.bb1f98","name":"Get on entity","server":"b9eb4c89.0f03f","template":"{% for entity_id in states.group.sprinkler_all_zones.attributes.entity_id -%}\n{% set domain, device = entity_id.split('.') -%}\n{% set entity = states[domain][device] %}\n{% if entity.state == \"on\" %}\n{{ entity.entity_id }}\n{% endif %}\n{% endfor %}","resultsLocation":"switch","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":390,"y":780,"wires":[["6b679731.8cd5c8","ad25d1f9.48db2"]]},{"id":"6b679731.8cd5c8","type":"switch","z":"9d931426.bb1f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":110,"y":440,"wires":[["40988f69.8270f"],["f194687e.feae58"],[]]},{"id":"2eee57ae.966ee8","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{\t    \"entity_id\": msg.ib\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":260,"wires":[["813d5cc8.024bc"]]},{"id":"40988f69.8270f","type":"switch","z":"9d931426.bb1f98","name":"","property":"switch","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":40,"wires":[["3d03ef0d.036a4"],["cc8ea22f.d33fc"]]},{"id":"cc8ea22f.d33fc","type":"function","z":"9d931426.bb1f98","name":"","func":"myswitch = msg.switch;\nlastChar = myswitch.substring(myswitch.length - 1);\nmsg.ib = \"input_boolean.sprinkler_submit_zone\" + lastChar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":140,"wires":[["2eee57ae.966ee8"]]},{"id":"f194687e.feae58","type":"switch","z":"9d931426.bb1f98","name":"","property":"switch","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":440,"wires":[["c4367a78.0684b8"],["cc61fe65.096b7","bbc2e04d.e1f2b"]]},{"id":"c4367a78.0684b8","type":"function","z":"9d931426.bb1f98","name":"","func":"myswitch = msg.switch;\nlastChar = myswitch.substring(myswitch.length - 1);\nmsg.char = lastChar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["11f694cc.463deb"]]},{"id":"11f694cc.463deb","type":"template","z":"9d931426.bb1f98","name":"","field":"items","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"ib\": \"input_boolean.sprinkler_submit_zone{{char}}\",\n    \"switch\": \"switch.sprinkler_zone{{char}}\"\n}","output":"json","x":600,"y":320,"wires":[["da4c669d.0a1ed8","8ecb4f3e.e7eb1"]]},{"id":"cc674132.dbcf8","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":true,"service_domain":"input_text","service":"set_value","entityId":"","data":"{\t    \"entity_id\": msg.timer,\t    \"value\":\"idle\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2930,"y":420,"wires":[[]]},{"id":"b2dafd5b.1dbae","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{\t    \"entity_id\": msg.items.switch\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":500,"wires":[[]]},{"id":"96f7c060.fc989","type":"api-current-state","z":"9d931426.bb1f98","name":"Check entity on","server":"b9eb4c89.0f03f","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"","override_payload":"none","entity_location":"payload","override_data":"msg","blockInputOverrides":false,"x":760,"y":500,"wires":[["b2dafd5b.1dbae"],[]]},{"id":"da4c669d.0a1ed8","type":"function","z":"9d931426.bb1f98","name":"","func":"msg.payload = {\n  entity_id: msg.items.switch\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["96f7c060.fc989"]]},{"id":"b7aefd9d.e0a74","type":"trigger-state","z":"9d931426.bb1f98","name":"Run when clicked","server":"b9eb4c89.0f03f","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.sprinkler_submit_zone","entityidfiltertype":"substring","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":310,"y":940,"wires":[["ed8d2aa1.695228","1d7727b9.2dae98"],[]]},{"id":"6593845e.c1f0fc","type":"trigger-state","z":"9d931426.bb1f98","name":"Run when clicked","server":"b9eb4c89.0f03f","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.sprinkler_submit_zone","entityidfiltertype":"substring","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":310,"y":1020,"wires":[["ed8d2aa1.695228","1d7727b9.2dae98"],[]]},{"id":"e49f1dea.a8fcc","type":"mytimeout","z":"9d931426.bb1f98","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"0","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":1730,"y":260,"wires":[["fff9abc3.b15628"],["fff9abc3.b15628"]]},{"id":"ca09f9c8.def758","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"timeout","pt":"msg","to":"duration","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":260,"wires":[["e49f1dea.a8fcc"]]},{"id":"9886cf0d.1ea4f","type":"function","z":"9d931426.bb1f98","name":"[s] to [hh:mm:ss]","func":"// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":260,"wires":[["b13e397c.c1ef78"]]},{"id":"b13e397c.c1ef78","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"","data":"{\t   \"entity_id\":msg.timer,\t   \"value\":msg.payload\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2790,"y":260,"wires":[[]]},{"id":"8ecb4f3e.e7eb1","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":460,"wires":[["e49f1dea.a8fcc"]]},{"id":"fff9abc3.b15628","type":"switch","z":"9d931426.bb1f98","name":"Off?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":260,"wires":[["68d9519a.53f35"],["7fac4b95.3b3ab4"]]},{"id":"813d5cc8.024bc","type":"ha-wait-until","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","outputs":2,"entityId":"input_text.sprinkler_qr_timer","entityIdFilterType":"exact","property":"state","comparator":"is","value":"idle","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":660,"y":120,"wires":[["3d03ef0d.036a4"],[]]},{"id":"326e16cc.1d75ea","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sprinkler_submitlockbtn","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":760,"wires":[["ee0f387e.4444f8"]]},{"id":"eab16b92.757138","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sprinkler_submitlockbtn","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":840,"wires":[["40ba5a50.359494","42c27d9.cfbd684"]]},{"id":"f07ff1e7.0ba07","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{\t    \"entity_id\": msg.ib\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2720,"y":320,"wires":[["4f851000.00cb8"]]},{"id":"14069342.e73fcd","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"timer","pt":"msg","to":"(\t    $timer := $substring(msg.switch,-1);\t    $timer := \"input_text.sprinkler_qr_timer_zone\" & $timer;\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":260,"wires":[["9886cf0d.1ea4f"]]},{"id":"68d9519a.53f35","type":"api-render-template","z":"9d931426.bb1f98","name":"Get on entity","server":"b9eb4c89.0f03f","template":"{% for entity_id in states.group.sprinkler_all_zones.attributes.entity_id -%}\n{% set domain, device = entity_id.split('.') -%}\n{% set entity = states[domain][device] %}\n{% if entity.state == \"on\" %}\n{{ entity.entity_id }}\n{% endif %}\n{% endfor %}","resultsLocation":"switch","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":2150,"y":260,"wires":[["14069342.e73fcd"]]},{"id":"6efc0bb0.dfa784","type":"api-render-template","z":"9d931426.bb1f98","name":"Get on entity","server":"b9eb4c89.0f03f","template":"{% for entity_id in states.group.sprinkler_all_zones.attributes.entity_id -%}\n{% set domain, device = entity_id.split('.') -%}\n{% set entity = states[domain][device] %}\n{% if entity.state == \"on\" %}\n{{ entity.entity_id }}\n{% endif %}\n{% endfor %}","resultsLocation":"switch","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":2150,"y":320,"wires":[["fa225171.2bf8a"]]},{"id":"fa225171.2bf8a","type":"change","z":"9d931426.bb1f98","name":"Set Timer & Input_Boolean","rules":[{"t":"set","p":"timer","pt":"msg","to":"(\t    $timer := $substring(msg.switch,-1);\t    $timer := \"input_text.sprinkler_qr_timer_zone\" & $timer;\t)","tot":"jsonata"},{"t":"set","p":"ib","pt":"msg","to":"(\t    $ib := $substring(msg.switch,-1);\t    $ib := \"input_boolean.sprinkler_submit_zone\" & $ib;\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":320,"wires":[["6c6d9057.1cd58","f07ff1e7.0ba07"]]},{"id":"ad25d1f9.48db2","type":"function","z":"9d931426.bb1f98","name":"","func":"myboolean = msg.topic;\nlastChar = myboolean.substring(myboolean.length - 1);\nmsg.boolean = \"input_boolean.sprinkler_submitlockbtn_zone\" + lastChar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":800,"wires":[["326e16cc.1d75ea"]]},{"id":"ee0f387e.4444f8","type":"delay","z":"9d931426.bb1f98","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":760,"wires":[["eab16b92.757138"]]},{"id":"6c6d9057.1cd58","type":"delay","z":"9d931426.bb1f98","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2680,"y":420,"wires":[["cc674132.dbcf8"]]},{"id":"c140bde3.8ed2b","type":"ha-webhook","z":"9d931426.bb1f98","name":"Rachio API Zone Webhook","server":"b9eb4c89.0f03f","outputs":1,"webhookId":"","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":1190,"y":620,"wires":[["3839afa7.e8458"]]},{"id":"7fab153d.655bcc","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.zoneNumber","tot":"msg"},{"t":"set","p":"timeout","pt":"msg","to":"(\t    payload.duration - 2\t)","tot":"jsonata"},{"t":"set","p":"triggerblock","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"status","pt":"msg","to":"payload.zoneRunState","tot":"msg"},{"t":"set","p":"zone","pt":"flow","to":"payload.zoneNumber","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":620,"wires":[["18150c8.e36c7f4"]]},{"id":"ed8d2aa1.695228","type":"switch","z":"9d931426.bb1f98","name":"","property":"triggerblock","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":980,"wires":[["1a5bd09.ede8b2f"],["1a5bd09.ede8b2f"]]},{"id":"18150c8.e36c7f4","type":"switch","z":"9d931426.bb1f98","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"COMPLETED","vt":"str"},{"t":"eq","v":"STOPPED","vt":"str"},{"t":"eq","v":"STARTED","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1770,"y":620,"wires":[["da2c5144.5ba6"],["da2c5144.5ba6"],["3d8d7bed.e6d914","e49f1dea.a8fcc"]]},{"id":"3d8d7bed.e6d914","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"","data":"{\t   \"entity_id\":\"input_boolean.sprinkler_submit_zone\" & msg.zone\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":720,"wires":[["326e16cc.1d75ea"]]},{"id":"da2c5144.5ba6","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":580,"wires":[["e49f1dea.a8fcc","326e16cc.1d75ea"]]},{"id":"9be8337c.3aff1","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"triggerblock","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":840,"wires":[[]]},{"id":"1a5bd09.ede8b2f","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"blockwebhook","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":900,"wires":[["476800e3.e68ca"]]},{"id":"40ba5a50.359494","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"blockwebhook","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":900,"wires":[[]]},{"id":"3839afa7.e8458","type":"switch","z":"9d931426.bb1f98","name":"","property":"blockwebhook","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":620,"wires":[["7fab153d.655bcc"],["7fab153d.655bcc"]]},{"id":"4f851000.00cb8","type":"change","z":"9d931426.bb1f98","name":"","rules":[{"t":"set","p":"triggerblock","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2970,"y":320,"wires":[[]]},{"id":"7514e4f4.1774ec","type":"debug","z":"9d931426.bb1f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2550,"y":500,"wires":[]},{"id":"7fac4b95.3b3ab4","type":"api-current-state","z":"9d931426.bb1f98","name":"Group On?","server":"b9eb4c89.0f03f","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.sprinkler_all_zones","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1970,"y":320,"wires":[["6efc0bb0.dfa784"],["5ed4ac57.b4a2c4","4e4d59a3.306ae8"]]},{"id":"4e4d59a3.306ae8","type":"function","z":"9d931426.bb1f98","name":"Set msg.timer","func":"msg.timer = \"input_text.sprinkler_qr_timer_zone\" + flow.get(\"zone\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":520,"wires":[["6c6d9057.1cd58"]]},{"id":"5ed4ac57.b4a2c4","type":"function","z":"9d931426.bb1f98","name":"Set msg.ib","func":"msg.ib = \"input_boolean.sprinkler_submit_zone\" + flow.get(\"zone\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2310,"y":480,"wires":[["f07ff1e7.0ba07"]]},{"id":"42c27d9.cfbd684","type":"switch","z":"9d931426.bb1f98","name":"","property":"status","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1970,"y":840,"wires":[["9be8337c.3aff1"]]},{"id":"1d7727b9.2dae98","type":"debug","z":"9d931426.bb1f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":100,"y":840,"wires":[]},{"id":"cc61fe65.096b7","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{\t    \"entity_id\": msg.topic\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":560,"wires":[[]]},{"id":"bbc2e04d.e1f2b","type":"function","z":"9d931426.bb1f98","name":"","func":"myswitch = msg.topic;\nlastChar = myswitch.substring(myswitch.length - 1);\nmsg.timer = \"input_text.sprinkler_qr_timer_zone\" + lastChar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":620,"wires":[["8636cc11.25c09"]]},{"id":"8636cc11.25c09","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":true,"service_domain":"input_text","service":"set_value","entityId":"","data":"{\t    \"entity_id\": msg.timer,\t    \"value\":\"idle\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":620,"wires":[[]]},{"id":"8f93f318.1ea61","type":"function","z":"9d931426.bb1f98","name":"","func":"myswitch = msg.topic;\nlastChar = myswitch.substring(myswitch.length - 1);\nmsg.timer = \"input_text.sprinkler_qr_timer_zone\" + lastChar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":340,"wires":[["af69b869.a04158"]]},{"id":"145dd311.b0399d","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{\t    \"entity_id\": msg.topic\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":340,"wires":[[]]},{"id":"af69b869.a04158","type":"api-call-service","z":"9d931426.bb1f98","name":"","server":"b9eb4c89.0f03f","version":1,"debugenabled":true,"service_domain":"input_text","service":"set_value","entityId":"","data":"{\t    \"entity_id\": msg.timer,\t    \"value\":\"idle\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":400,"wires":[[]]},{"id":"b9eb4c89.0f03f","type":"server","name":"Home Assistant","addon":true}]